*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: currentColor;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.material-symbols-outlined{
  user-select: none;
}