nav{
    width: 100vw;
    border-bottom: 1px #E2E8F0 solid;
}
nav > .container{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 1500px;
    color: #4A5568;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 30px;
}
nav ul{
    display: flex;
}
nav ul li{
    margin: 0 24px;
}
.icon-a{
    display: flex;
    align-items: center;
}
.more .icon-a span{
    margin-left: 10px;
}
.green-text{
    color: #2FBD6A;
}

main{
    color: #2D3748;
    width: 100vw;
}
main > .container{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30px 0 0 30px;
    margin: 0 auto;
}
main .container > div{
    width: 85%;
}
main .info{
    width: 50%;
    padding: 0 30px;
    box-sizing: border-box;
}
.status{
    margin-bottom: 20px;
}
.status ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 597px;
    font-weight: 500;
}
.status .bar{
    border-bottom: currentColor 2px dashed;
    width: 25px;
    height: 10px;
}

.account form label, 
input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"],
textarea{
    display: block;
}
.account h3{
    margin-bottom: 15px;
}
input[type="email"],
input[type="text"],
input[type="number"],
input[type="password"],
textarea,
#state-field{
    background-color: #F9F9F9;
    border: 1px #F3EFEF solid;
    padding: 15px;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    width: 100%;
    font-weight: 500;
    color: #2D3748;
    box-sizing: border-box;
}
.account form label{
    color: #718096;
    margin-bottom: 10px;
    margin-top: 10px;
}
.flex-form{
    display: flex;
    justify-content: space-between;
}
.flex-form div{
    flex: 2;
}
#age-field{
    flex: 1;
    margin-right: 50px;
}
.gender, .gender li, .interest, .interest li{
    display: flex;
    align-items: center;
}
.gender, .interest{
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.interest{
    width: 90%;
    line-height: 26px;
    margin: 0 auto;
}
.gender li label, .interest li label{
    margin: 0 5px;
    user-select: none;
}
.interest li{
    margin: 0 10px;
}
textarea{
    resize: none;
    height: 100px;
}

form button{
    background-color: #2FBD6A;
    padding: 16px 24px;
    color: #F7FAFC;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .25s;
}
form button:hover{
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.06);
}
.buttons-container{
    display: flex;
    justify-content: right;
}
.buttons{
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.order-summary{
    padding: 0 50px;
}
.order-summary h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 26px;
}
.infos p{
    margin-top: 10px;
}
.infos .name{
    font-weight: 500;
}
.infos .price{
    font-weight: 600;
}
.info-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.product img{
    width: 100%;
}
.amount{
    display: flex;
    align-items: center;
}
.controller{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #F9F9F9;
    border: 1px #F3EFEF solid;
    color: #718096;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
}
.amount .amount-number{
    font-size: 20px;
    margin: 16px;
}
.order-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ticket{
    display: flex;
    gap: 32px;
}
.ticket button{
    border: 2px solid #2FBD6A;
    border-radius: 4px;
    color: #2FBD6A;
    background-color: #fff;
    padding: 18px 20px;
}
.order-summary, .order-info{
    height: 80%;
}
.prices > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.prices .green{
    color: #2FBD6A;
}
.bold{
    font-weight: 600;
}