*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
.wrapper{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to top, rgb(19, 19, 19), rgb(29, 29, 29));
  display: flex;
  align-items: center;
  justify-content: center;
}
.container::before, .container::after{
  content: "";
  border-radius: 50%;
  background-color: #ffffff6b;
  box-shadow: 5px 5px 5px 1px #ffffff0a;
  position: absolute;
  z-index: 0;
}
.container::before{
  right: -40px;
  top: -90px;
  width: 200px;
  height: 200px;
}
.container::after{
  left: -100px;
  bottom: -100px;
  width: 300px;
  height: 300px;
}
.c{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff6b;
  box-shadow: 5px 5px 5px 1px #ffffff0a;
  position: absolute;
  z-index: 0;
  bottom: -40px;
  left: 180px;
}
.container{
  width: 800px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff3a;
  box-shadow: 5px 5px 5px 1px #ffffff0a;
  padding: 50px;
  border-radius: 35px;
  backdrop-filter: blur(10px);
  z-index: 2;
  border: 1px white solid;
  position: relative;
  animation: shadow infinite 20s;
}
.left{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 0;
}
.container form{
  margin-top: 40px;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.loc{
  position: relative;
  width: 100%;
}
.container input{
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px rgb(151, 151, 151) solid;
  padding: 3px;
}
.container label{
  cursor: text;
  position: absolute;
  left: 0;
  transition: 0.2s ease all;
  margin: 0 3px;
  user-select: none;
  color: #ffffffc5;
}
.container input:focus + label,
.container input:valid ~ label{
  transform: translateY(-20px);
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
.container input:focus{
  outline: none;
}
.bar{
  transition: .5s;
  width: 0;
  height: 2px;
  margin: 0 auto;
}
.container input:focus ~ .bar{
  background-color: #e2e2e2;
  margin: 0 auto;
  width: 100%;
}
button{
  background-color: #6767e7;
  width: 100%;
  border: 1px #fff solid;
  padding: 10px;
  border-radius: 30px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: .5s;
}
button:hover{
  letter-spacing: 1px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.144);
  filter: brightness(90%);
}
@keyframes shadow {
  0%{
      box-shadow: 0 0 20px 5px #ffffff3b;
  }50%{
      box-shadow: 0 0 10px 1px #ffffff3b;
  }100%{
      box-shadow: 0 0 20px 5px #ffffff3b;
  }
}
.forgot{
  margin-top: -20px;
  font-size: 12px;
 text-decoration: none;
} 
.container input:valid ~ .icon{
  visibility: visible;
}
.icon{
  visibility: hidden;
  position: absolute;
  right: 5px;
  top: -5px;
  user-select: none;
  cursor: pointer;
}
.galeria{
  flex-direction: column;
}
.row-container-gal{
  width: 100%;
  max-width: 1500px;
  margin: 20px auto 0 auto    ;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.imgs{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  box-sizing: content-box;
  padding: 20px 20px 30px 20px;
  background-color: #ffffff0c;
  position: relative;
  margin: 0;
  transition: .5s;
}
.imgs, .imgs img{
  width: 210px;
  border-radius: 6px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.205);
}
.description{
  color: gray;
  position: absolute;
  bottom: 15px;
}
.songname{
  margin: 10px 0;
  font-weight: bold;
}
.welcome{
  margin-top: 20px;
}
.galeria h2{
  margin: 50px 0 10px 0;
}
.imgs:hover{
  background-color: #ffffff1c;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(131, 131, 131, 0.205);
}